<!DOCTYPE html>
<meta charset='utf-8'/>
<html>

  <head>

    <title>Iliad</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous'>
    <link rel='stylesheet' media='screen' href='/css/iliad.bundle.css'/>
    <script src='/js/routes.js'></script>
<script src='/js/iliad.bundle.js'></script>
  </head>
  <body>
    <div id='root-container'></div>
    <script type='text/javascript'>

      var APP_CONFIG = <%= config_json %>;
      const iliad = new IliadApp();
    </script>
  </body>
</html>
