<!DOCTYPE html>
<meta charset='utf-8' />
<html>

  <head>

    <title>

      Welcome
    </title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous'>
    <link rel='stylesheet' media='screen' href='/css/iliad.bundle.css'/>
    <script src='/js/routes.js'></script>
    <script src='/js/iliad.bundle.js'></script>
  </head>
  <body>

    <div id='root'></div>
    <script type='text/javascript'>

      var APP_CONFIG = <%= config_json %>;
      var app_props = {
        user: <%= @user ? "'#{@user.first} #{@user.last}'" : 'null'%>,
        mode: 'home',
        environment: '<%= App.instance.environment %>',
        is_admin: <%=  @user && @user.is_admin?(@params[:project_name]) ? :true : :false %>
      };

      const iliad = new IliadApp(app_props, 'root');
    </script>
  </body>
</html>
